imdl torrent link creates invalid magnet

The trackers in the generated magnet link are not [url-encoded](https://github.com/casey/intermodal/blob/293a4780a086e956e1d1e5b3fc2f2295b865d1d1/src/magnet_link.rs#L65) and so cannot be parsed properly by other software.

We've had the question of `xt` params in [this upstream issue](https://github.com/servo/rust-url/issues/1084) but i think so far i've only seen unencoded ":" in `urn:btih:...` so that should be fine.

But the tracker URLs are usually url-encoded. I don't know of a counter-example.

I think #554 is on good track for merging, but before closing this issue we should take time and analyze other magnet URIs to make sure other fields should not be url-encoded.

For example should the `:` in peer addresses be encoded as `%3A`?

The problem is what spec are we using? I have the same reading of that wikipedia page as you do, but the specs say otherwise.

Quoting [RFC 3986 Section 2.2](https://datatracker.ietf.org/doc/html/rfc3986#section-2.2), as referenced by HTML5 spec:

> URI producing applications should percent-encode data octets that correspond to characters in the reserved set unless these characters are specifically allowed by the URI scheme to represent data in that component.  If a reserved character is found in a URI component and no delimiting role is known for that character, then it must be interpreted as representing the data octet corresponding to that character's encoding in US-ASCII.

So `:` and `/` **must** be parsed as such (by a valid implementation), but **should** not be produced.

> You mentioned in the original comment that magnet links generated by intermodal were incompatible with some software. Which software/versions did you run into problems with?

I'm sorry i'm not so sure anymore. I'm testing so many clients and weird edge-cased torrents. I do remember i first encountered this issue when parsing a magnet with an IPv6 literal tracker (`tr=http://[::1]:3000/announce`) which drew my attention that all magnet links i saw online were percent-encoded (except for the `urn:btih` part). (then i added tests [in my own magnet parser](https://github.com/angrynode/hightorrent) which also failed)

QBittorrent and Transmission "copy magnet" feature is also percent-encoded. I just think that's the correct thing to do, but i'm no URL or torrent expert so feel free to have an opposite opinion :)

I opened #556 (tests till failing, still a draft) with percent encoding based on RFC 9686. I think this is correct, but if there's a popular piece of software out there which can't handle magnet links with the more permissive percent encoding, then that would definitely be cause to do something different, so specific examples are very welcome.